@font-face {
    font-family: frecce;
    src: url(../fonts/frecce.ttf);
}


@font-face {
    font-family: font1;
    src: url(../fonts/LEMONMILK-Regular.otf);
}

@font-face {
    font-family: font1medio;
    src: url(../fonts/font1medio.ttf);
}


@font-face {
    font-family: font2;
    src: url(../fonts/Nexa-ExtraLight.ttf);
}


@font-face {
    font-family: font4;
    src: url(../fonts/MinSans-Regular.ttf);
}


@font-face {
    font-family: font5;
    src: url(../fonts/MinSans-Regular.ttf);
}