/*Harrach footer*/

#footer{
    font-family:font4;
    width: 100%;
    position: absolute;
    padding-top: 27px;
    background: white;
    color: rgb(0, 0, 0) ;
    font-size:13px;
    line-height: 20px;
}
.row{
    width: 85%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.col{
    flex-basis: 25%;
    padding: 10px;
}

.col:nth-child(2), .col:nth-child(3){
    flex-basis: 15%;
}

.logo1{
    width:80px;
    margin-bottom: 30px;
    filter: brightness(0%);
}



.col h3{
    width: fit-content;
    margin-bottom: 40px;
    position: relative;
}

.email-id{
    width: fit-content;
    border-bottom: 1px solid #ccc;
    margin: 20px 0;
}

ul li{
    list-style: none;
    margin-bottom: 12px;
}

.col ul li a{
    text-decoration: none;
    color: #000000;
    transition: all 0.3s;
}

.col ul li a:hover{
    color: #000000;
    text-decoration: underline;
}

form{
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 50px;
}

form .fa-regular{
    font-size: 18px;
    margin-right: 10px;
}

form input{
    width: 100%;
    background: transparent;
    color: #ccc;
    border: 0;
    outline: none;
}

.socialmedia-icons .fa-brands{ 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #000;
    background: #fff;
    margin-right: 15px;
}

.socialmedia-icons .fa-facebook:hover{
    background-color: #3300ff;
    cursor: pointer;
    transform: scale(1.10);
    transition: all 0.5s ease;
    color: white;
}

.socialmedia-icons .fa-youtube:hover{
    background-color: #ff0000;
    cursor: pointer;
    transform: scale(1.10);
    transition: all 0.5s ease;
    color: white;
}

.socialmedia-icons .fa-instagram:hover{
    cursor: pointer;
    transform: scale(1.10);
    transition: all 0.5s ease;
    background: linear-gradient(to right, #cc00ff, #ff4000);
    color: white;
}

.socialmedia-icons .fa-x-twitter:hover{
    background-color: #000000;
    cursor: pointer;
    transform: scale(1.10);
    transition: all 0.5s ease;
    color: white;
}

hr{
    width: 90%;
    border: 0;
    border-bottom: 1px solid #ccc;
    margin: 20px auto;
}

.copyright{
    text-align: center;
    margin-bottom:10px;
}

.underline0{
    width: 100%;
    height: 1.5px;
    background:#767676;
    border-radius: 3px;
    position: absolute;
    top: 26px;
    right: 0;
}

.underline1{
    width: 100%;
    height: 1.5px;
    background:#767676;
    border-radius: 3px;
    position: absolute;
    top: 26px;
    right: 0;
}

.underline2{
    width: 100%;
    height: 1.5px;
    background:#767676;
    border-radius: 3px;
    position: absolute;
    top: 26px;
    right: 0;
}