#tstrisciamenu {
    /*background-image: linear-gradient(to bottom, rgb(43, 43, 43), rgba(255, 255, 255, 0));*/
    width: 100%;
    position: fixed;
    z-index: +9999;
}


/* inizio logo menu*/

#tlogo {
    width: auto;
    height: auto;
    position: absolute;
}

#tlogo img {
    height: 53px;
    margin-top: 22px;
    margin-left: 22px;
    transition: all 0.3s;
    float: left;
}

#tlogo:hover img {
    height: 58px;
    margin-top: 20px;
    margin-left: 20px;
}

.ttitologo {
    margin-top: 9px;
    margin-left: 5px;
    padding: 15px;
    padding-right: 5px;
    font-size: 17px;
    color: white;
    float: left;
    transition: all 0.3s;
}

grassettoMenu {
    font-weight: 700;
}


/* inizio caselle menu */
.tmenu ul {
    list-style: none;
    margin: 0;
    border: 0;
    padding: 0;
    text-align: center;
    margin-top: 10px;
}

.tmenu li {
    display: inline-block;
    margin: 0;
    border: 0;
    padding: 0;
}

.tmenu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: auto;
    display: block;
    text-align: center;
    margin: 7px 33px 0;
    padding: 12px;
    padding-bottom: 10px;
    font-size: 20px;
    border: 0;
    border-bottom: 0;
    border-color: rgb(180, 137, 50);
    border-style: solid;
    transition: all 0.1s;
}

.tsegnaposto a {
    color: rgb(180, 137, 50);
    font-weight: 700;
}

.tdropbtn a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    width: auto;
    display: block;
    text-align: center;
    margin: 0;
    border: 0;
    padding: 0;
    font-size: 20px;
    border: 0;
    border-bottom: 0;
    border-color: rgb(180, 137, 50);
    border-style: solid;
    transition: all 0.3s;
}

.tdropbtn:hover .tlink{
    color: rgb(180, 137, 50);
}

.tdropbtn {
    color: white;
    margin: 7px 20px 0;
    padding: 25px;
    padding-bottom: 15px;
    font-size: 20px;
    transition: all 0.2s;
}

.tdropdown {
    position: relative;
    display: inline-block;
}

.tdropdown-content {
    display: block;
    position: absolute;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 10px;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    background-color: #f1f1f1d7;
    border-radius: 3%;
}

.tdropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    margin: 0;
    border: 0;
    padding: 10px 20px 10px;
    transition: all 0.2s;
    width: auto;
    font-size: 16px;
    border-radius: 6%;
}

.tdropdown-content a:hover {
    background-color: rgb(180, 137, 50);
    border: 0;
    color: #ffffff;
}

.tdropbtn:hover .tdropdown-content {
    opacity: 1;
    visibility: visible;
}

.tdropbtn:hover {
    color: rgb(180, 137, 50);
}

simboliMenu {
    font-family: frecce;
    font-size: 19px;
    display: inline-block;
    transition: all 0.3s;
}

.tdropbtn:hover simboliMenu {
    transform: rotate(180deg);
}

.tldropbtn:hover simboliMenu {
    transform: rotate(180deg);
}

/* fine caselle menu */


/*lingua*/

#tlingua {
    cursor: default;
    position: absolute;
    right: 0;
    margin-top: -77px;
    margin-right: -16px;
}

.tldropbtn {
    color: white;
    margin: 7px 20px 0;
    padding: 25px;
    padding-bottom: 15px;
    font-size: 20px;
    transition: all 0.2s;
    border-radius: 3%;
}

.tldropdown {
    position: relative;
    display: inline-block;
}

.tldropdown-content {
    display: block;
    position: absolute;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 5px;
    margin-left: -8px;
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
    visibility: hidden;
    border-radius: 5%;
}

.tldropdown-content a {
    color: black;
    text-decoration: none;
    display: block;
    margin: 0;
    border: 2px;
    padding: 5px 20px 5px 8px;
    transition: all 0.2s;
    width: auto;
    background-color: #f1f1f1d7;
    font-size: 20px;
    border-radius: 3%;
}

.tldropdown-content a:hover {
    background-color: rgb(180, 137, 50);
    border: 0;
    color: #ffffff;
}

.tldropbtn:hover .tldropdown-content {
    opacity: 1;
    visibility: visible;
}

.tldropbtn:hover {
    color: rgb(180, 137, 50);
}

#tlingua img {
    height: 16px;
    margin-right: 7px;
}



















/* effetti */

.tmenu button {
    font-size: 18px;
    color: #ffffff;
    font-family: font2;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    padding: 0;
    width: auto;
}

.tmenu button:focus,
.tmenu button:hover {
    color: #fff;
}

.tmenu button:focus:after,
.tmenu button:hover:after {
    width: 50%;
    left: 25%;
}

.tmenu button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: rgb(180, 137, 50);
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}

.tmenu button:hover a {
    color: rgb(180, 137, 50);
}