body {
    margin: 0;
    border: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: font2;
    font-weight: 400;
    background-color: rgb(0, 0, 0);
}

.tcasella:hover {
    color: rgb(180, 137, 50);
    border: 0;
    padding-bottom: 6px;
    border-bottom: 4px;
    border-color: rgb(180, 137, 50);
    border-style: solid;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    width: 100vw;
    min-height: 100vh;
}

.zcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.zcontent {
    text-align: center;
}

h2 {
    z-index: 11;
    font-family: "EB Garamond";
    font-style: italic;
    height: auto;
    width: auto;
    color: rgb(180, 137, 50);
    text-decoration: none;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    line-height: 35px;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 50px;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
    text-align: center;
    padding: 30px;
}



.zcontent h1 {
    z-index: 8;
    font-family: font1;
    text-transform: uppercase;
    height: auto;
    width: auto;
    color: rgb(255, 255, 255);
    text-decoration: none;
    white-space: nowrap;
    min-height: 0px;
    min-width: 0px;
    max-height: none;
    max-width: none;
    text-align: center;
    line-height: 87px;
    letter-spacing: 3px;
    font-weight: 500;
    font-size: 71px;
    transform-origin: 50% 50%;
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
}



.zbox {
    width: 140px;
    height: auto;
    float: left;
    transition: .5s linear;
    position: relative;
    display: block;
    overflow: hidden;
    padding: 15px;
    text-align: center;
    margin: 0 5px;
    background: transparent;
    text-transform: uppercase;
    font-weight: 900;
    margin-top: 40px;
    font-family: font2;
    margin-left: 43%;
}

.zbox:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 4px;
    width: 100%;
    border-bottom: 4px solid transparent;
    border-left: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(100%);
}

.zbox:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 4px;
    border-top: 4px solid transparent;
    border-right: 4px solid transparent;
    box-sizing: border-box;
    transform: translateX(-100%);
}


.zbox:hover:before {
    border-color: rgb(180, 137, 50);
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .3s;
}

.zbox:hover:after {
    border-color: rgb(180, 137, 50);
    height: 100%;
    transform: translateX(0);
    transition: .3s transform linear, .3s height linear .5s;
}


.zbutton {
    color: rgb(255, 255, 255);
    text-decoration: none;
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
}

.zbackground-clip {
    position: absolute;
    z-index: -1;
    width: 100vw;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
}

/* contenuto*/


div.Qcontenitore {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    padding-top: 2%;
    margin-bottom: 2%;
}

div.Qseccontenitore {
    box-sizing: border-box;
    width: 96%;
    height: auto;
    display: flex;
    flex-direction: row;
    background-color: #efefef;
    margin: 2%;
    margin-bottom: 0;
}

.Qmappa {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

div.Qtitoloetesto {
    margin: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 50%;

}

.tmappa{
    width: 45%;
    background-image: url(../images/IMG_8369.jpg);
    background-size: cover;
    background-position: center;
}


div.Qtitolo {
    width: 100%;
    text-align: center;
    font-size: 35px;
    color: rgb(180, 137, 50);
    margin-bottom: 2.5%;
    font-weight: 700;
}

div.Qmuroditesto {
    font-size: 22px;
    color: rgb(42, 42, 42);
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 2.5%;
    text-align: justify;
}

div.Qmappa {
    width: 100%;
    height: 100%;
}

.cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: rgba(180, 137, 50, 0.738);
    width: 40px;
    height: 40px;
    transition: all 0.3s ease;
  }
  
  .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #000000;
  }
  
  .cta svg {
    position: relative;
    top: 0;
    margin-left: 10px;
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #000000;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: #ffffff;
    border: 1px;
    border-style: solid;
    border-color: rgba(180, 137, 50, 0.855);
  }
  
  .cta:hover svg {
    transform: translateX(0);
    stroke: rgba(180, 137, 50, 0.738);
  }

  .cta:hover span{
    color: rgba(180, 137, 50, 0.738);
  }
  
  .cta:active {
    transform: scale(0.95);
  }

  .tbutton{
    text-align: center;
  }

